<mat-sidenav-container class="example-container" *ngIf="shouldRun">
    <mat-sidenav class="side-bar" #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
        (closed)="events.push('close!')">
        <ul class="title-list-side-bar">
            <a href="#">
                <li class="side-bar-list">
                    <button mat-flat-button><span class="icon-list material-icons">
                            query_builder
                        </span> Apontamento</button>
                </li>
            </a>
            <a href="/extract-to-file">
                <li class="side-bar-list">
                    <button mat-flat-button><span class="icon-list material-icons">
                        archive
                    </span> Extração</button>
                </li>
            </a>
        </ul>

    </mat-sidenav>



    <mat-sidenav-content class="container-sidenav">
        <span mat-button class="arrow-sidebar material-icons" (click)="sidenav.toggle(); changeIconArrow();">
            {{ arrow }}
        </span>
        <mat-card class="main-card">
            <router-outlet></router-outlet>
        </mat-card>

    </mat-sidenav-content>
</mat-sidenav-container>