<div class="container-title">
    <h2 class="mat-h2" color="primary">Extrair</h2>
    <hr class="line-separator">
        <div class="filters">
            
            <mat-form-field appearance="fill">
                <mat-label>Coloque um período para extração</mat-label>
                <mat-date-range-input [formGroup]="extractForm" [rangePicker]="picker">
                    <input matStartDate formControlName="start" placeholder="Date inicial">
                    <input matEndDate formControlName="end" placeholder="Data Final">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
        </div>
    
    <button mat-stroked-button (click)="downloadFile()" [disabled]="extractForm.invalid">Extrair</button>
</div>